---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Formations – Mehdi Nour">
  <h1>Formations</h1>

  <ul>
    <li><strong>Master 2 Professionnel Analyses Statistiques et Traitement des Données</strong> – Université Clermont Auvergne</li>
    <li><strong>Licence sciences mathématiques appliquées, spécialité statistiques</strong> – Faculté des sciences appliquées</li>
  </ul>
</BaseLayout>
