---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Centres d’intérêt – Mehdi Nour">
  <h1>Centres d’intérêt</h1>

  <ul>
    <li>Géopolitique</li>
    <li>Intelligence Artificielle</li>
    <li>Football</li>
  </ul>
</BaseLayout>
