---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Langues – Mehdi Nour">
  <h1>Langues</h1>

  <ul>
    <li><strong>Arabe</strong> : Bilingue</li>
    <li><strong>Français</strong> : Bilingue</li>
    <li><strong>Anglais</strong> : Courant</li>
  </ul>
</BaseLayout>
